body {
    background-color: rgb(0, 50, 90);
}

p {
    color: white;
}

h3 {
    color: white;
}

#logo {
    width: 700px;
}

#gameScreen {
    display: none;
}

#lobby {
    display: none;
}

#endGameScreen {
    display: none;
}

#lobbyPlayers {
    margin-bottom: 1rem;
}

#player-1 {
    background-image: url("./img/redwizard.png");
    width: 32px;
    height: 48px;
}

#player-2 {
    background-image: url("./img/bluewizard.png");
    width: 32px;
    height: 48px;
}

#player-3 {
    background-image: url("./img/greenwizard.png");
    width: 32px;
    height: 48px;
}

#player-4 {
    background-image: url("./img/brownwizard.png");
    width: 32px;
    height: 48px;
}
