 * {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: rgb(0, 50, 90);
    padding-bottom: 3rem;
}

body {
    background-color: rgb(0, 50, 90);
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
td {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 15%;
    color: #fff;
}

table {
    color: white;
}

h3 {
    color: #fff;
    font-family: Helvetica;
    text-align: center;
}

p {
    color:#fff;
    margin-top: 1rem;
    font-size: large;
}
/* img {
    vertical-align: middle;
    text-align: center;
    border-style: none;
} */

.outercol {
    background-color: rgb(0, 50, 90);
}

.arrow-up {
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid rgb(255, 245, 104);
    height: 0;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid rgb(255, 245, 104);
}
    
.arrow-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 30px solid rgb(255, 245, 104);
    border-bottom: 15px solid transparent;
}
    
.arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid rgb(255, 245, 104);
    border-bottom: 15px solid transparent;
}

.notfixed-tiles {
    text-align: center;
    z-index: 100;
    font-size: 50px;
    width: 80px;
    height: 80px;
    border-radius: 10%;
}

.targetCard {
    margin-bottom: 1rem;
}

#rotateIcon {
    opacity: 0.5;
    width:70px;
    height:70px;
}
#gameScreen {
    display: none;
}


#lobby {
    display: none;
}

#endGameScreen {
    display: none;
}

#logo {
    height:10rem;
    width: auto;
    margin: auto;
    display: block;
}

#lobbyPlayers {
    margin-bottom: 1rem;
}
#player-1 {
    z-index:110;
    margin: auto;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 59, 59);
    border-radius: 50%;
}

#player-2 {
    z-index:110;
    margin: auto;
    height: 25px;
    width: 25px;
    background-color: rgb(0, 38, 255);
    border-radius: 50%;
}

#player-3 {
    z-index:110;
    margin: auto;
    height: 25px;
    width: 25px;
    background-color: rgb(51, 255, 0);
    border-radius: 50%;
}

#player-4 {
    z-index:110;
    margin: auto;
    height: 25px;
    width: 25px;
    background-color: rgb(251, 255, 0);
    border-radius: 50%;
}

#f0 {
    background-image: url('./img/corner.jpg');
}
#f1 {
    background-image: url('./img/1.jpg');
}
#f2 {
    background-image: url('./img/2.jpg');
}
#f3 {
    background-image: url('./img/straight.jpg');
}
#f4 {
    background-image: url('./img/4.jpg');
}
#f5 {
    background-image: url('./img/corner.jpg');
}
#f6 {
    background-image: url('./img/corner.jpg');
}
#f7 {
    background-image: url('./img/5.jpg');
}
#f8 {
    background-image: url('./img/straight.jpg');
}
#f9 {
    background-image: url('./img/straight.jpg');
}
#f10 {
    background-image: url('./img/straight.jpg');
}
#f11 {
    background-image: url('./img/straight.jpg');
}
#f12 {
    background-image: url('./img/6.jpg');
}
#f13 {
    background-image: url('./img/straight.jpg');
}
#f14 {
    background-image: url('./img/7.jpg');
}
#f15 {
    background-image: url('./img/8.jpg');
}
#f16 {
    background-image: url('./img/9.jpg');
}
#f17 {
    background-image: url('./img/corner.jpg');
}
#f18 {
    background-image: url('./img/10.jpg');
}
#f19 {
    background-image: url('./img/corner.jpg');
}
#f20 {
    background-image: url('./img/11.jpg');
}
#f21 {
    background-image: url('./img/corner.jpg');
}
#f22 {
    background-image: url('./img/12.jpg');
}
#f23 {
    background-image: url('./img/13.jpg');
}
#f24 {
    background-image: url('./img/corner.jpg');
}
#f25 {
    background-image: url('./img/straight.jpg');
}
#f26 {
    background-image: url('./img/corner.jpg');
}
#f27 {
    background-image: url('./img/14.jpg');
}
#f28 {
    background-image: url('./img/15.jpg');
}
#f29 {
    background-image: url('./img/straight.jpg');
}
#f30 {
    background-image: url('./img/16.jpg');
}
#f31 {
    background-image: url('./img/17.jpg');
}
#f32 {
    background-image: url('./img/18.jpg');
}
#f33 {
    background-image: url('./img/straight.jpg');
}
#f34 {
    background-image: url('./img/19.jpg');
}
#f35 {
    background-image: url('./img/straight.jpg');
}
#f36 {
    background-image: url('./img/20.jpg');
}
#f37 {
    background-image: url('./img/straight.jpg');
}
#f38 {
    background-image: url('./img/corner.jpg');
}
#f39 {
    background-image: url('./img/corner.jpg');
}
#f40 {
    background-image: url('./img/straight.jpg');
}
#f41 {
    background-image: url('./img/21.jpg');
}
#f42 {
    background-image: url('./img/corner.jpg');
}
#f43 {
    background-image: url('./img/22.jpg');
}
#f44 {
    background-image: url('./img/23.jpg');
}
#f45 {
    background-image: url('./img/straight.jpg');
}
#f46 {
    background-image: url('./img/24.jpg');
}
#f47 {
    background-image: url('./img/corner.jpg');
}
#f48 {
    background-image: url('./img/corner.jpg');
}
#f49 {
    background-image: url('./img/25.jpg');
}