 * {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

td {
    width: 65px;
    height: 65px;
    border-radius: 10%;
}

.fixed {
    background-color: #0d1431
}

.outercol {
    background-color: #fff;
}

.arrow-up {
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid rgb(0, 0, 0);
    height: 0;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid rgb(0, 0, 0);
}
    
.arrow-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 30px solid rgb(0, 0, 0);
    border-bottom: 15px solid transparent;
}
    
.arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid rgb(0, 0, 0);
    border-bottom: 15px solid transparent;
}

.notfixed-tiles {
    text-align: center;
    font-size: 50px;
    background-color: #c8ec98;
    width: 65px;
    height: 65px;
    border-radius: 10%;
}

.player1 {
    margin: auto;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
}